# IDE
*.DS_Store
.idea/
.vscode/
__pycache__/
.codecc/
build.yml
dist/

go.work
go.work.sum

*_tmp
.codecc
.idea
.vscode
/.gtm.yaml
.python-version
bkcodeai.json

.env.access
.env.leave

.venv
.codebuddy

.claude
.cursor

# unify-query online query golden cases
pkg/unify-query/internal/online_cases/query_golden_cases/testdata/local_cases/
pkg/unify-query/internal/online_cases/query_golden_cases/testdata/**/*.local.yaml
