# IDE
*.DS_Store
.idea/
.vscode/
__pycache__/
.codecc/
build.yml
dist/

go.work
go.work.sum

*_tmp
.codecc
.idea
.vscode
/.gtm.yaml
.python-version
bkcodeai.json

.env.access
.env.leave

.venv

.claude
