# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor

# IDE
.idea/
.vscode/
.DS_Store

# compile output
bkmonitor-operator
dev.sh

dist/
build/
dockerfile/operator/bkmonitor-operator
dockerfile/reloader/bkmonitorbeat-reloadr
crd
