certifi==2024.7.4
cfgv==3.4.0
charset-normalizer==3.1.0
distlib==0.3.7
elastic-transport==8.4.0
elasticsearch==8.8.0
filelock==3.13.1
gitdb==4.0.11
GitPython==3.1.40
identify==2.5.31
idna==3.7
nodeenv==1.8.0
platformdirs==3.11.0
pre-commit==3.5.0
PyYAML==6.0.1
requests==2.32.4
smmap==5.0.1
urllib3==2.5.0
virtualenv==20.26.6
