/.idea
/var
/bin
/build
/output/*
/pkg
.glide/cache
*.bkpipe.db
.vscode/
debug.test

.DS_Store
/bkmonitorbeat
/bkmonitorbeat.test
*.pyc
/vendor.orig
/coverage
bkmonitorbeat.exe
dev.sh
vendor
bkmonitorbeat.conf
